@use './variables' as *;

.calculatorBody {
    list-style: none;
    background-color: $lightGray;
    padding: 20px;
    border-radius: 5px;
    width: 320px;
}

.displayContainer {
    background-color: $gray;
    margin: 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    .inputContainer, .resultContainer {
        height: 60px;
        padding: 10px;
        width: 270px;
        overflow-x: auto;
        overflow-y: hidden;
        text-align: right;
        padding-top: 20px;
        .placeholder {
            color: gray;
        }
    }
}

.menuButtons, .advancedOperators, .memoryOperators {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        background-color: $lightTeal;
        &:hover{
            cursor: pointer;
            background-color: $teal;
        }
        &:active{
            transform: scale(0.95);
        }
    }
}

.advancedOperators, .memoryOperators {
    gap: 5px;
    width: 280px;

    li {
        width: 30%;
        margin: 0 5px;
    }
    button {
        width: 60px;
        margin: 5px 0;
        height: 25px;
    }
}

.memoryOperators {
    li {
        width: 20%;
    }
    button {
        width: 20px;
        height: 20px;
        margin: 5px 0;
    }
}

.memoryMsg {
    font-size: 0.75em;
    padding: 5px 10px;
    .placeholder {
        font-style: italic;
        color: $darkGray;
    }
}

.mainButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .numberPad, .operatorButtons {
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .inputButton {
            flex: 0 0 30%;
        }
    }

    .operatorButtons {
        width: 25%;
        flex-direction: column;
        button {
            background-color: $lightTeal;
            &:hover{
                background-color: $teal;
            }
        }
    }
}
