@use './variables' as *;
@use './mediaQueries' as *;

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 50px;

    @include tablet {
        flex-direction: column-reverse;
    }
    
    .inputHistory {
        width: 280px;
        max-height: 597px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 25px;
            h2 {
                padding-bottom: 5px;
            }
            button {
                margin-left: 10px;
                height: 15px;
                width: fit-content;
                background-color: $lightTeal;
                &:hover {
                    background-color: $teal;
                }
            }
        }

        h2, p {
            color: white;
            text-align: center;
        }

        button {
            width: 150px;
            margin: 5px 0;
            min-height: fit-content;
            overflow-wrap: anywhere;
        }
    }
}