@use './variables' as *;


html {
 font-size: 100%;
}

body {
    font-family: 'Poppins', sans-serif; 
    font-size: 15px;
}

h1, h2, p {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin: 10px 0 20px;;
}

h2 {
    font-size: 18px;
    padding-bottom: 15px;
    letter-spacing: 5px;
}

p {
    line-height: 1.5rem;
    padding: 10px 0;
}